body {
  margin: 0;
  padding: 20px;
  font-family: Arial;
  background: #111827;
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

img {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
}
